body{
    background-color: red;
}
h1{
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
p{
    font-family: cursive;
}
h2{
    font-family: fantasy;
    font-size: 15px;
}